@model IEnumerable<CategoryViewModel>

<li>
    <a href="#" class="mn-has-sub">Gallery <i class="fa fa-angle-down"></i></a>

    <ul class="mn-sub">
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink((string)item.Name, "GetById", "Category", new { id = item.Id })</li>
        }
        @if (!string.IsNullOrEmpty(Context.User.Identity.Name))
        {
            <li>@Html.ActionLink("Add Category", "Add", "Category")</li>
        }
    </ul>
</li>